<a href="https://colab.research.google.com/github/Lizmare/db_DSRP_logistica_e/blob/main/POBLARLOGISTICA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LIZ REYES

# ***POBLAR TABLA DIMENSIONAL***

In [ ]:
Use logistica_DSRP;
GO
--TABLA d
SELECT id, nombre, apellido, email, telefono, direccion, fecha_registro
FROM clientes;
--TABLA DIM_SUCURSALES
SELECT id, nombre, direccion, telefono
FROM sucursales;
--TABAL DIM_CONDUCTORES
SELECT id, nombre, apellido, licencia, telefono
FROM conductores;
--TABLA DIM_VEHICULOS
SELECT id, placa, tipo_vehiculo, capacidad, conductor_id
FROM vehiculos;
--TABLA DIM RUTAS
SELECT id, nombre, descripcion
FROM rutas;
--TABLA DIM_TIEMPO
SELECT DISTINCT
    fecha_envio AS fecha,
    DAY(fecha_envio) AS dia,
    MONTH(fecha_envio) AS mes,
    YEAR(fecha_envio) AS año,
    CEILING(MONTH(fecha_envio) / 3.0) AS trimestre,
    DATEPART(week, fecha_envio) AS semana,
    DATENAME(weekday, fecha_envio) AS dia_semana
FROM encomiendas
UNION
SELECT DISTINCT
    fecha_entrega AS fecha,
    DAY(fecha_entrega) AS dia,
    MONTH(fecha_entrega) AS mes,
    YEAR(fecha_entrega) AS año,
    CEILING(MONTH(fecha_entrega) / 3.0) AS trimestre,
    DATEPART(week, fecha_entrega) AS semana,
    DATENAME(weekday, fecha_entrega) AS dia_semana
FROM encomiendas
WHERE fecha_entrega IS NOT NULL;
--TABLA Hehos_encomiendas;
SELECT
    e.cliente_id,
    e.origen_sucursal_id,
    e.destino_sucursal_id,
    vr.vehiculo_id,
    vr.ruta_id,
    e.peso,
    e.estado,
    e.fecha_envio,
    e.fecha_entrega,
    mp.monto,
    mp.tipo_pago,
    e.fecha_envio,
    e.fecha_entrega
FROM encomiendas e
JOIN vehiculos_rutas vr ON e.vehiculo_ruta_id = vr.id
JOIN metodo_pago mp ON e.id = mp.encomienda_id;